# rules follow http://editorconfig.org/

# top-most EditorConfig file
root = true
charset = utf-8

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[*.js]
indent_style = space
indent_size = 4
